{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Your Location</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=f8a0ec95-64f5-4ddc-9045-db1de59e17c2&lang=en_US" type="text/javascript"></script>
</head>
<body>
    <div id="map" style="height: 400px; width: 100%;"></div>
    <div id="locationInfo"></div>

    <script>
        ymaps.ready(init);

        function init() {
            var map = new ymaps.Map("map", {
                center: [{{location.latitude|slice:4}}, {{location.longitude|slice:4}}],
                zoom: 18
            });

            var locationInfoElement = document.getElementById('locationInfo');

            var iconCoordinates = [
                { latitude: {{location.latitude}}, longitude: {{location.longitude}} },
                // ... yana koordinatalar
            ];

             for (var i = 0; i < iconCoordinates.length; i++) {
                var coordinates = [iconCoordinates[i].latitude, iconCoordinates[i].longitude];

                var placemark = new ymaps.Placemark(
                    coordinates,
                    {
                        balloonContent: 'Lost item there' // Description content here
                    },
                    {
                        iconLayout: 'default#image',
                        iconImageHref: "{% static 'assi.JPG'%}",
                        iconImageSize: [32, 32],
                        iconImageOffset: [-16, -16]
                    }
                );

                map.geoObjects.add(placemark);
            }
        }
    </script>
</body>
</html>
